network:
  version: 2
  renderer: networkd 
  ethernets:
    eth0:
      dhcp4: false     
      dhcp6: false    
      addresses:
        - <ip_address>/<cidr_mask> 

      routes:
        - to: default
          via: 192.168.1.1 

      nameservers:
        addresses:
          - <dns_server_1> 
          - <dns_server_2> 
